In [ ]:
import sys
sys.path.append("/home/daniel/python/AI25-Databehandling-DanielGustafsson")
from data_utils import barplot_of_missing_values
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


df = pd.read_csv("student-mat-missing-data.csv")

# removed_rows = df.dropna(subset=[])

removed_NaNs = df.dropna()

print(removed_NaNs)

     Unnamed: 0 school sex   age address famsize Pstatus  Medu  Fedu  \
0             0     GP   F  18.0       U     GT3       A     4     4
1             1     GP   F  17.0       U     GT3       T     1     1
2             2     GP   F  15.0       U     LE3       T     1     1
3             3     GP   F  15.0       U     GT3       T     4     2
4             4     GP   F  16.0       U     GT3       T     3     3
..          ...    ...  ..   ...     ...     ...     ...   ...   ...
390         390     MS   M  20.0       U     LE3       A     2     2
391         391     MS   M  17.0       U     LE3       T     3     1
392         392     MS   M  21.0       R     GT3       T     1     1
393         393     MS   M  18.0       R     LE3       T     3     2
394         394     MS   M  19.0       U     LE3       T     1     1

         Mjob  ... famrel freetime goout  Dalc  Walc  health absences  G1  G2  \
0     at_home  ...    4.0      3.0   4.0     1     1     3.0      6.0   5   6
1     at_home  ...    5.0      3.0   3.0     1     1     3.0      4.0   5   5
2     at_home  ...    4.0      3.0   2.0     2     3     3.0     10.0   7   8
3      health  ...    3.0      2.0   2.0     1     1     5.0      2.0  15  14
4       other  ...    4.0      3.0   2.0     1     2     5.0      4.0   6  10
..        ...  ...    ...      ...   ...   ...   ...     ...      ...  ..  ..
390  services  ...    5.0      5.0   4.0     4     5     4.0     11.0   9   9
391  services  ...    2.0      4.0   5.0     3     4     2.0      3.0  14  16
392     other  ...    5.0      5.0   3.0     3     3     3.0      3.0  10   8
393  services  ...    4.0      4.0   1.0     3     4     5.0      0.0  11  12
394     other  ...    3.0      2.0   3.0     3     3     5.0      5.0   8   9

     G3
0     6
1     6
2    10
3    15
4    10
..   ..
390   9
391  16
392   7
393  10
394   9

[370 rows x 34 columns]